
.github-img{
/* background-color: red; */
display: flex;
justify-content: center;
padding: 10px;
/* background-color: white; */

border-radius: 10px;


}
.git-img{
 border:5px solid aqua ;
 border-radius: 50%;
}

.github-name{
margin-top:53px;

margin-left: 22px;
}